openapi: 3.0.3
info:
  title: Privora API
  version: 1.0.0
  description: |
    Privora — Trusted Data Governance & Consent-Based Data Exchange Platform.
    Aligned with Saudi PDPL (Personal Data Protection Law).
  contact:
    name: Privora Support
    email: support@privora.sa
  license:
    name: Proprietary

servers:
  - url: https://api.privora.sa/api/v1
    description: Production
  - url: https://staging-api.privora.sa/api/v1
    description: Staging
  - url: http://localhost:5000/api/v1
    description: Local Development

tags:
  - name: Authentication
    description: OTP-based login, JWT token management
  - name: Consents (User)
    description: User-facing consent request management
  - name: Consents (Org)
    description: Organization consent request management
  - name: Data Sharing (User)
    description: User-facing data sharing requests
  - name: Data Sharing (Org)
    description: Organization data sharing management
  - name: DSAR (User)
    description: Data Subject Access Request — user submission
  - name: DSAR (Admin)
    description: Data Subject Access Request — admin processing
  - name: Breaches
    description: Breach & incident management
  - name: Retention
    description: Data retention policy management
  - name: Privacy Notices
    description: Versioned privacy notice management
  - name: Purposes
    description: Processing purpose registry
  - name: Analytics
    description: Compliance analytics and KPIs
  - name: Audit Logs
    description: Immutable audit trail

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Validation error

    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [user, org_admin, super_admin]
        organizationId:
          type: string
          format: uuid
          nullable: true
        isActive:
          type: boolean
        preferredLanguage:
          type: string
          enum: [en, ar]
        createdAt:
          type: string
          format: date-time

    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        contactEmail:
          type: string
          format: email
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    ConsentRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        title:
          type: string
        titleAr:
          type: string
          nullable: true
          description: Arabic title — PDPL requires Arabic notices
        description:
          type: string
        dataTypes:
          type: array
          items:
            type: string
          example: [name, email, phone_number]
        purpose:
          type: string
        legalBasis:
          type: string
          enum: [consent, contract, legal_obligation, vital_interests, public_task, legitimate_interests]
        retentionPeriod:
          type: string
          nullable: true
          example: "2 years"
        expiresAt:
          type: string
          format: date-time
          nullable: true
        isActive:
          type: boolean
        privacyPolicyUrl:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    ConsentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        consentRequestId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        status:
          type: string
          enum: [approved, rejected, withdrawn]
        reason:
          type: string
          nullable: true
        respondedAt:
          type: string
          format: date-time

    DataSharingRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        title:
          type: string
        purpose:
          type: string
        dataTypes:
          type: array
          items:
            type: string
        duration:
          type: string
        legalBasis:
          type: string
          enum: [consent, contract, legal_obligation, vital_interests, public_task, legitimate_interests]
        status:
          type: string
          enum: [pending_consent, consent_approved, completed, rejected, expired, revoked]
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    DsarRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        requestType:
          type: string
          enum: [access, correction, deletion, portability, objection]
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, in_progress, completed, rejected]
        slaDeadline:
          type: string
          format: date-time
        daysRemaining:
          type: integer
          nullable: true
        isOverdue:
          type: boolean
        adminNotes:
          type: string
          nullable: true
        responseData:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    BreachIncident:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        breachType:
          type: string
          enum: [unauthorized_access, data_loss, ransomware, insider_threat, system_compromise, accidental_disclosure, other]
        severity:
          type: string
          enum: [low, medium, high, critical]
        status:
          type: string
          enum: [open, investigating, contained, resolved]
        affectedDataTypes:
          type: array
          items:
            type: string
        estimatedAffectedUsers:
          type: integer
          nullable: true
        discoveredAt:
          type: string
          format: date-time
        notifiedAuthority:
          type: boolean
        notifiedAuthorityAt:
          type: string
          format: date-time
          nullable: true
        authorityDeadline:
          type: string
          format: date-time
          nullable: true
        isAuthorityOverdue:
          type: boolean
        timeline:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              action:
                type: string
              performedBy:
                type: string
              note:
                type: string

    RetentionPolicy:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        name:
          type: string
        dataCategory:
          type: string
          enum: [pii, sensitive, financial, biometric, behavioral, location, general]
        retentionDays:
          type: integer
        warningDays:
          type: integer
          nullable: true
        action:
          type: string
          enum: [delete, anonymize, alert_only]
        purpose:
          type: string
          nullable: true
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    PrivacyNotice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        title:
          type: string
        version:
          type: string
          example: "1.0"
        purposeOfProcessing:
          type: string
        dataTypesCollected:
          type: array
          items:
            type: string
        retentionSummary:
          type: string
          nullable: true
        thirdPartySharing:
          type: boolean
        legalBasis:
          type: string
          nullable: true
        isActive:
          type: boolean
        effectiveDate:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ProcessingPurpose:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        legalBasis:
          type: string
        dataTypes:
          type: array
          items:
            type: string
        pdplArticle:
          type: string
          nullable: true
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        actorId:
          type: string
          format: uuid
          nullable: true
        actorRole:
          type: string
          nullable: true
        organizationId:
          type: string
          format: uuid
          nullable: true
        action:
          type: string
          example: CONSENT_APPROVED
        resourceType:
          type: string
          nullable: true
          example: ConsentTransaction
        resourceId:
          type: string
          format: uuid
          nullable: true
        description:
          type: string
          nullable: true
        metadata:
          type: object
        ipAddress:
          type: string
          nullable: true
        severity:
          type: string
          enum: [info, warning, critical]
        createdAt:
          type: string
          format: date-time

paths:

  # ─── AUTHENTICATION ──────────────────────────────────────────────────────────

  /auth/request-otp:
    post:
      tags: [Authentication]
      summary: Request a login OTP
      description: Sends a one-time password to the user's email. Rate limited to 5 requests per 15 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '429':
          description: Too many requests
        '400':
          description: Invalid email

  /auth/verify-otp:
    post:
      tags: [Authentication]
      summary: Verify OTP and receive JWT tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email:
                  type: string
                  format: email
                otp:
                  type: string
                  minLength: 4
                  maxLength: 8
                  example: "123456"
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid or expired OTP

  /auth/admin/login:
    post:
      tags: [Authentication]
      summary: Admin password login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenResponse'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: New access token issued
        '401':
          description: Invalid or expired refresh token

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout and revoke refresh token
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Logged out successfully

  # ─── CONSENTS — USER ────────────────────────────────────────────────────────

  /consents/requests:
    get:
      tags: [Consents (User)]
      summary: List pending consent requests for the authenticated user
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
        - in: query
          name: page
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of consent requests
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          requests:
                            type: array
                            items:
                              $ref: '#/components/schemas/ConsentRequest'

  /consents/history:
    get:
      tags: [Consents (User)]
      summary: Get the user's consent decision history
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Consent history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          history:
                            type: array
                            items:
                              $ref: '#/components/schemas/ConsentResponse'

  /consents/{id}/respond:
    post:
      tags: [Consents (User)]
      summary: Respond to a consent request
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [approved, rejected, withdrawn]
                reason:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Response recorded

  # ─── CONSENTS — ORG ─────────────────────────────────────────────────────────

  /consents/org:
    post:
      tags: [Consents (Org)]
      summary: Create a consent request
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description, dataTypes, purpose]
              properties:
                title:
                  type: string
                  minLength: 5
                  maxLength: 500
                titleAr:
                  type: string
                  description: Arabic translation of title
                description:
                  type: string
                  minLength: 10
                dataTypes:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  example: [name, email, location]
                purpose:
                  type: string
                  minLength: 10
                  maxLength: 1000
                legalBasis:
                  type: string
                  enum: [consent, contract, legal_obligation, vital_interests, public_task, legitimate_interests]
                  default: consent
                retentionPeriod:
                  type: string
                  example: "2 years"
                expiresAt:
                  type: string
                  format: date-time
                privacyPolicyUrl:
                  type: string
      responses:
        '201':
          description: Consent request created
    get:
      tags: [Consents (Org)]
      summary: List organization's consent requests
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: page
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of consent requests

  /consents/org/{id}/responses:
    get:
      tags: [Consents (Org)]
      summary: Get user responses for a specific consent request
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Consent responses

  /consents/org/{id}:
    patch:
      tags: [Consents (Org)]
      summary: Update or deactivate a consent request
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isActive:
                  type: boolean
                title:
                  type: string
                expiresAt:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Consent request updated

  # ─── DATA SHARING — ORG ─────────────────────────────────────────────────────

  /data-sharing/requests:
    post:
      tags: [Data Sharing (Org)]
      summary: Create a data sharing request targeting a user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, title, dataTypes, purpose, duration]
              properties:
                userId:
                  type: string
                  format: uuid
                title:
                  type: string
                dataTypes:
                  type: array
                  items:
                    type: string
                purpose:
                  type: string
                duration:
                  type: string
                  example: "6 months"
                legalBasis:
                  type: string
                  enum: [consent, contract, legal_obligation, vital_interests, public_task, legitimate_interests]
                expiresAt:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Data sharing request created
    get:
      tags: [Data Sharing (Org)]
      summary: List organization's outgoing data sharing requests
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending_consent, consent_approved, completed, rejected, expired, revoked]
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: List of data sharing requests

  /data-sharing/requests/{id}:
    get:
      tags: [Data Sharing (Org)]
      summary: Get a specific data sharing request
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Data sharing request detail

  /data-sharing/requests/{id}/execute:
    post:
      tags: [Data Sharing (Org)]
      summary: Execute data sharing after user consent is approved
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Data sharing executed

  /data-sharing/transactions:
    get:
      tags: [Data Sharing (Org)]
      summary: Get audit trail of all completed data sharing transactions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Transaction list

  # ─── DATA SHARING — USER ────────────────────────────────────────────────────

  /data-sharing/user/requests:
    get:
      tags: [Data Sharing (User)]
      summary: List data sharing requests targeting the authenticated user
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: User data sharing requests

  /data-sharing/requests/{id}/respond:
    post:
      tags: [Data Sharing (User)]
      summary: Approve or reject a data sharing request
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [approved, rejected]
                reason:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Response recorded

  # ─── DSAR — USER ────────────────────────────────────────────────────────────

  /dsar/requests:
    post:
      tags: [DSAR (User)]
      summary: Submit a Data Subject Access Request
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organizationId, requestType]
              properties:
                organizationId:
                  type: string
                  format: uuid
                requestType:
                  type: string
                  enum: [access, correction, deletion, portability, objection]
                description:
                  type: string
                  maxLength: 1000
      responses:
        '201':
          description: DSAR submitted. SLA deadline set to 30 days.
    get:
      tags: [DSAR (User)]
      summary: List the authenticated user's DSAR requests
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, in_progress, completed, rejected]
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: User DSAR list

  # ─── DSAR — ADMIN ───────────────────────────────────────────────────────────

  /dsar/admin/requests:
    get:
      tags: [DSAR (Admin)]
      summary: List all DSARs directed at this organization
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, in_progress, completed, rejected]
        - in: query
          name: requestType
          schema:
            type: string
            enum: [access, correction, deletion, portability, objection]
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Admin DSAR list

  /dsar/admin/requests/{id}:
    get:
      tags: [DSAR (Admin)]
      summary: Get a specific DSAR with full detail
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: DSAR detail
    patch:
      tags: [DSAR (Admin)]
      summary: Process a DSAR — update status, add notes, provide response
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [pending, in_progress, completed, rejected]
                adminNotes:
                  type: string
                  maxLength: 2000
                responseData:
                  type: string
                  maxLength: 5000
                rejectionReason:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: DSAR updated

  # ─── BREACHES ───────────────────────────────────────────────────────────────

  /breaches:
    post:
      tags: [Breaches]
      summary: Log a new breach incident
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description, breachType]
              properties:
                title:
                  type: string
                description:
                  type: string
                breachType:
                  type: string
                  enum: [unauthorized_access, data_loss, ransomware, insider_threat, system_compromise, accidental_disclosure, other]
                severity:
                  type: string
                  enum: [low, medium, high, critical]
                  default: medium
                affectedDataTypes:
                  type: array
                  items:
                    type: string
                estimatedAffectedUsers:
                  type: integer
                discoveredAt:
                  type: string
                  format: date-time
                actionsTaken:
                  type: string
      responses:
        '201':
          description: Breach incident created. 72-hour SDAIA deadline tracked.
    get:
      tags: [Breaches]
      summary: List breach incidents for the organization
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [open, investigating, contained, resolved]
        - in: query
          name: severity
          schema:
            type: string
            enum: [low, medium, high, critical]
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Breach list

  /breaches/{id}:
    get:
      tags: [Breaches]
      summary: Get breach incident detail with timeline
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Breach detail
    patch:
      tags: [Breaches]
      summary: Update breach — status, notifications, timeline notes
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [open, investigating, contained, resolved]
                notifiedAuthority:
                  type: boolean
                notifiedUsers:
                  type: boolean
                actionsTaken:
                  type: string
                timelineNote:
                  type: string
                  maxLength: 500
                resolvedAt:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Breach updated

  # ─── RETENTION ──────────────────────────────────────────────────────────────

  /retention/policies:
    post:
      tags: [Retention]
      summary: Create a data retention policy
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, dataCategory, retentionDays]
              properties:
                name:
                  type: string
                dataCategory:
                  type: string
                  enum: [pii, sensitive, financial, biometric, behavioral, location, general]
                retentionDays:
                  type: integer
                  minimum: 1
                  maximum: 36500
                warningDays:
                  type: integer
                action:
                  type: string
                  enum: [delete, anonymize, alert_only]
                  default: alert_only
                purpose:
                  type: string
      responses:
        '201':
          description: Retention policy created
    get:
      tags: [Retention]
      summary: List retention policies for the organization
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Policy list

  /retention/policies/{id}:
    patch:
      tags: [Retention]
      summary: Update a retention policy
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                retentionDays:
                  type: integer
                warningDays:
                  type: integer
                action:
                  type: string
                  enum: [delete, anonymize, alert_only]
                isActive:
                  type: boolean
      responses:
        '200':
          description: Policy updated
    delete:
      tags: [Retention]
      summary: Delete a retention policy
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Policy deleted

  /retention/run-check:
    post:
      tags: [Retention]
      summary: Run retention check (dry run or live)
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dryRun:
                  type: boolean
                  default: true
                  description: If true, returns what would be affected without making changes
      responses:
        '200':
          description: Retention check results

  /retention/status:
    get:
      tags: [Retention]
      summary: Get retention coverage status per data category
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Coverage status

  # ─── PRIVACY NOTICES ────────────────────────────────────────────────────────

  /privacy-notices/active:
    get:
      tags: [Privacy Notices]
      summary: Get active privacy notice for an organization (public)
      parameters:
        - in: query
          name: organizationId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Active privacy notice

  /privacy-notices:
    post:
      tags: [Privacy Notices]
      summary: Create a new privacy notice version
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, version, purposeOfProcessing]
              properties:
                title:
                  type: string
                version:
                  type: string
                  pattern: '^\d+\.\d+$'
                  example: "1.0"
                purposeOfProcessing:
                  type: string
                dataTypesCollected:
                  type: array
                  items:
                    type: string
                retentionSummary:
                  type: string
                thirdPartySharing:
                  type: boolean
                thirdPartyDetails:
                  type: string
                dataSubjectRights:
                  type: array
                  items:
                    type: string
                contactEmail:
                  type: string
                  format: email
                legalBasis:
                  type: string
                effectiveDate:
                  type: string
                  format: date-time
                previousVersionId:
                  type: string
                  format: uuid
                changeNotes:
                  type: string
      responses:
        '201':
          description: Privacy notice created
    get:
      tags: [Privacy Notices]
      summary: List all privacy notice versions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Notice list

  /privacy-notices/{id}:
    get:
      tags: [Privacy Notices]
      summary: Get a specific privacy notice
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Privacy notice detail
    patch:
      tags: [Privacy Notices]
      summary: Update a privacy notice
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notice updated

  /privacy-notices/{id}/activate:
    post:
      tags: [Privacy Notices]
      summary: Activate a privacy notice version
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notice activated

  # ─── PURPOSES ───────────────────────────────────────────────────────────────

  /purposes:
    post:
      tags: [Purposes]
      summary: Register a new processing purpose
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, description, legalBasis]
              properties:
                name:
                  type: string
                description:
                  type: string
                legalBasis:
                  type: string
                dataTypes:
                  type: array
                  items:
                    type: string
                pdplArticle:
                  type: string
                  example: "Art. 5"
      responses:
        '201':
          description: Purpose registered
    get:
      tags: [Purposes]
      summary: List registered processing purposes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Purpose list

  /purposes/{id}:
    patch:
      tags: [Purposes]
      summary: Update a processing purpose
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Purpose updated
    delete:
      tags: [Purposes]
      summary: Deactivate a processing purpose
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Purpose deactivated

  # ─── ANALYTICS ──────────────────────────────────────────────────────────────

  /analytics:
    get:
      tags: [Analytics]
      summary: Get organization compliance analytics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Analytics summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          summary:
                            type: object
                            properties:
                              totalRequests:
                                type: integer
                              activeRequests:
                                type: integer
                              totalResponses:
                                type: integer
                              uniqueRespondents:
                                type: integer
                              approvalRate:
                                type: number
                                format: float
                          statusBreakdown:
                            type: object
                          topRequests:
                            type: array

  # ─── AUDIT LOGS ─────────────────────────────────────────────────────────────

  /audit-logs:
    get:
      tags: [Audit Logs]
      summary: Query immutable audit logs
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: action
          schema:
            type: string
            example: CONSENT_APPROVED
        - in: query
          name: actorId
          schema:
            type: string
            format: uuid
        - in: query
          name: resourceType
          schema:
            type: string
        - in: query
          name: severity
          schema:
            type: string
            enum: [info, warning, critical]
        - in: query
          name: startDate
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          schema:
            type: string
            format: date
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
            maximum: 100
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          logs:
                            type: array
                            items:
                              $ref: '#/components/schemas/AuditLog'
                          total:
                            type: integer
                          page:
                            type: integer
